<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/browse.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="browse">
        <h1 class="browse-title">Browse Films</h1>
        <div class="browse-searchbar">
            <input type="text" id="search-box" placeholder="Search films by name or director...">
            <button class="browse-button" onclick="searchFilms()">Search</button>
        </div>
        <div class="films-container" id="films-container">
            <!-- Cards of films -->
        </div>
        <div class="pagination" id="pagination">
            <!-- Pagi -->
        </div>
    </div>
    <script src="/js/browse.js"></script>
</body>
</html>