<header>
    <h1><%= title %></h1>
    <nav>
      <ul>
        <li><a href="/">Hoasme</a></li>
        <li><a href="/mylist">MyList</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  