<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nelflix</title>
    <link rel="stylesheet" href="../../public/styles.css">
    <link rel="stylesheet" href="../../public/navbar.css">
</head>
<body>
    <header id="main-header">
        <a href="/">
            <img src="../../public/img/NELFLIX_WHT.svg" alt="Logo" class="navigation_logo">
        </a>
        <div class="navigation_container">
            <nav class="navigation_bar">
                <ul id="nav-list" class="navigation_list">
                    <li class="navigation_content"><a href="/browse">Browse</a></li>
                    <li class="navigation_content"><a href="/mylist">My Films</a></li> 
                    <li class="navigation_content"><a href="/wishlist">Wishlist</a></li> 
                </ul>
            </nav>
            <div class="login_container">
                <a href="/login" class="login_button">Login</a>
            </div>
            <div class="hamburger" id="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </header>
    <script src="../../public/js/navbar.js"></script>
</body>
</html>
