body {
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    color: #FFF;
}
.film-details-container {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.film-details-content {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.film-details-outer-div {
    display: flex;
    flex-direction: row;
}

.film-container {
    text-align: center;
    padding: 20px;
}

.film-title {
    margin: 0;
    padding-top: 20px;
    font-family: "Paytone One";
    padding-left: 10px;
}

.film-details-backbutton {
    color: white;
    height: fit-content;
    width: fit-content;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-weight: bolder;
    background-color: #f44336; 
    text-decoration: none;
    border: 0;
    margin-left: 50px;
    margin-top: 25px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.film-details-backbutton:hover {
    background-color: #a01919; 
}

.film-details-backbutton:active {
    transform: translateY(2px);
}

.film-cover-image {
    max-width: 300px;
    min-width: 300px;
    max-height: 380px;
    min-height: 380px;
    border-radius: 8px;
    padding: 20px;
}

.film-info {
    font-size: 1.1em;
    color: #777;
}

.purchase-button {
    color: white;
    width: fit-content;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-weight: bolder;
    background-color: #f44336; 
    text-decoration: none;
    padding: 10px 15px;
    border: 0;
    margin-right: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-top: 10px;
}

.purchase-button:hover {
    background-color: #a01919; 
}

.purchase-button:active {
    transform: translateY(2px);
}

.film-points {
    margin: 5px;
    font-size: 20px;
    font-family: "Quicksand";
}

.film-description {
    padding-top: 10px;
    font-weight: bold;
    margin: 5px;
    font-size: 20px;
    font-family: "Quicksand";
    color: white;
    width: 90%;
    text-align: justify;
}

.film-details-buttons {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .film-details-container {
        flex-direction: column;
        align-items: center;
    }

    .film-cover-image {
        max-width: 80%;
        padding: 10px;
    }

    .film-details-content {
        margin: 20px;
        max-width: 90%;
    }

    .film-title {
        font-size: 1.5em;
        text-align: center;
    }

    .film-details-backbutton {
        margin: 10px 0;
    }

    .film-description {
        width: 100%;
    }

    .film-points {
        font-size: 18px;
    }

    .purchase-button {
        width: 100%;
        text-align: center;
    }

}

@media (max-width: 480px) {
    .film-details-outer-div {
        flex-direction: column;
        align-items: center;
    }

    .film-details-content {
        margin: 10px;
    }

    .film-title {
        font-size: 1.2em;
    }

    .film-cover-image {
        max-width: 100%;
        padding: 5px;
    }

    .film-points {
        font-size: 16px;
    }

    .purchase-button {
        font-size: 16px;
    }
}