body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
  }
  
  .welcome_message {
    color: white;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 15px;
    padding-bottom: 0;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .welcome_container {
    display: flex;
    align-items: center;
  }

  .welcome_text {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .welcome_message {
    font-size: 16px;
    font-weight: bold;
  }

  .username {
    font-size: 14px; 
    color: #ffffff;
    font-family: "Quicksand";
    text-align: right;
    padding-right: 16px;
  }

  .profile_icon {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin-top: 5px;
  }


  .profile_menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #626262;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.profile_menu.show {
    display: block;
    background-color: #333;
    margin-right: 40px;
    margin-top: 30px;
    border-radius: 4px;
}

.profile_menu a,
.profile_menu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: right;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    color: white;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-weight: bolder;
    text-decoration: none;
}

.profile_menu button:hover,
.profile_menu a:hover {
  border-radius: 4px;
    background-color: #626262;
}

.logout-button {
  margin-left: 0px;
  color: white;
}


  .navigation_logo {
    height: 40px;
  }
  
  .navigation_container {
    display: flex;
    align-items: center;
    flex: 1; 
    margin: 0 20px; 
  }
  
  .navigation_bar {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .navigation_list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    padding: 10px;
    justify-content: right; 
  }

  .navigation_content {
    margin: 0 15px; 
  }
  
  .navigation_content a {
    color: white;
    text-decoration: none;
    /* padding: 10px 15px; */
    display: block;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    transition: background-color 0.3s;
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .navigation_content a:hover {
    background-color: #555;
    text-decoration: underline;
  }
  
  .login_container {
    display: flex;
    align-items: center;
  }
  
  .login_button {
    color: white;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-weight: bolder;
    background-color: #f44336; 
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .login_button:hover {
    background-color: #a01919; 
  }

  .login_button:active {
    transform: translateY(2px);
  }
  
  @media (max-width: 768px) {
    .navigation_list {
      flex-direction: column;
      align-items: flex-start;
    }
    .navigation_content {
      margin-bottom: 10px;
    }
    .login_container {
      margin-top: 10px;
    }
  }